<?xml version='1.0' encoding='utf-8'?>
<widget id="com.onemodo.modoapp" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ModominesERP</name>
    <description>
        Modomines Reports Application.
    </description>
    <author email="support@onemodo.com" href="http://onemodo.com">
        Onemodo Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
